@import '_settings'

normalize-css()
base()

body
  padding: 50px
  background: blue
  color: silver
  background: url(../img/archie.jpg) 50% 50% no-repeat
  background-size: cover
  height: 100vh
  
h1 
  color: white 	
